body {
    background: linear-gradient(to right, #d6e1e6, #dae0e2, #e7e8e9);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    text-align:left;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .venue-actions {
    margin-bottom: 20px;
  }
  
  .venue-actions button {
    margin-right: 10px;
  }

  .fixTableHead { 
    overflow-y: visible; 
    height: 110px; 
  } 
  .fixTableHead thead th { 
    position: sticky; 
    top: 0;
 
  } 
  table { 
    border-collapse: collapse;         
    width: 100%; 
  } 
  th, 
  td { 
    padding: 8px 15px; 
    border: 2px solid rgb(250, 240, 240);
    background-color: linear-gradient(to right, #17fa3d, #33f754, #e7e8e9); 
  } 
  th { 
    background: #0056b3; 
  } 
  tr{
    background-color: whitesmoke;
  }